*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.content{
    position: absolute;
    top: 50px;
    left: 50px;
}
.controler{
    position: relative;
    left: 800px;
}
.controler .btn{
    width: 100px;
    height: 40px;
    margin: 50px;
    text-align: center;
    background-color: #dddddd;
    font-size: 30px;
    user-select: none;
}