*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.content{
    position: absolute;
    top: 50px;
    left: 50px;
}
.controler{
    position: absolute;
    top: 50px;
    left: 800px;
}
.controler .btnList{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.controler .btnList .btn{
    width: 100px;
    height: 40px;
    margin-left: 50px;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    background-color: #dddddd;
    font-size: 30px;
    user-select: none;
}